label for="name" Full Name:
input#name type="text" name="student[name]" value="#{@student.name}"
label for="email" Email id:
input#email type="text" name="student[email]" value="#{@student.email}"
label for="gpa" GPA(Out of 4.0):
input#gpa type="text" name="student[gpa]" value="#{@student.gpa}"
br
input type="submit" value="OK"